a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background: #001489;
  display: flex;
}

.navbar-link-items {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.eu-flag-logo {
  width: auto;
  height: 5em;
  vertical-align: middle;
}

.navbar-item {
  color: white!important;
  padding-left: 2em;
  padding-right: 2em;
  vertical-align: middle;
  display: flex;
  align-items:center;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;

}

.navbar-item-clicked {
  background-image: linear-gradient(#001489 90%, #cfdcdf);
}

.navbar-item:hover {
  color: #FFDD00!important;
}